
{% extends 'base.html.twig' %}

{% block title %}Hello ExcursionController!{% endblock %}

{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url('front-office/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<br><br><br><br>
{% if app.user %}
{% if app.user.verified == false %}
<div class="alert alert-danger" role="alert">
  	your account is not verified
</div>
{% endif %}
{% endif %}


            </div>
        </div>
    </div>
</div>

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Garantie du meilleur prix</h3>
                        <p>Notre Meilleur prix garanti vous assure d’obtenir une réservation au prix le plus intéressant.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-like"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">
                            Les voyageurs nous aiment</h3>
                        <p>Une petite rivière nommée Duden coule par leur lieu et les approvisionne.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Meilleur agent de voyage</h3>
                        <p>On possède les meilleurs agents de voyage.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Notre assistance dédiée</h3>
                        <p>un représentant d'assistance client dédié</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-destination">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">En vedette</span>
                <h2 class="mb-4"><strong>Excursion </strong>en vedette</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="destination-slider owl-carousel ftco-animate">
                    {% for excursion in excursions %}
                    <div class="item">
                        <div class="destination">

                            {% for f in excursion.excursionimages %}

                            {% if loop.index == 1 %}
                            <a href="{{ path('excursion_show_front', {'id': excursion.id}) }}"
                               class="img img-2 d-flex justify-content-center align-items-center"
                               style="background-image: url({{ vich_uploader_asset(f, 'imageFile') }});">
                                {% endif %}
                                {% endfor %}
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <h3><a href="#">{{ excursion.libelle }}</a></h3>
                                <span class="listing">{{ excursion.prix }}DT</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="ftco-section ftco-destination">
        <div class="container">
            <div class="row justify-content-start mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">En vedette</span>
                    <h2 class="mb-4"><strong>Hotel </strong>en vedette</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="destination-slider owl-carousel ftco-animate">
                        {% for hotel in hotels %}
                            <div class="item">
                                <div class="destination">

                                    {% for f in hotel.hotelimage %}

                                    {% if loop.index == 1 %}
                                    <a href="{{ path('hotel_show_hotel', {'id': hotel.id}) }}"
                                       class="img img-2 d-flex justify-content-center align-items-center"
                                       style="background-image: url({{ vich_uploader_asset(f, 'imageFile') }});">
                                        {% endif %}
                                        {% endfor %}
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <h3><a href="#">{{ hotel.libelle }}</a></h3>
                                        <span class="listing">{{ hotel.localisation }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(front-office/images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">Quelques faits amusants</h2>
                <span class="subheading">Plus de 100 000 clients</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100000">0</strong>
                                <span>Clients satisfaits</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="40000">0</strong>
                                <span>Excursions</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="87000">0</strong>
                                <span>Hotels</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="56400">0</strong>
                                <span>Maison d'hotes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="ftco-section ftco-destination">
        <div class="container">
            <div class="row justify-content-start mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">Maison d'hote</span>
                    <h2 class="mb-4"><strong>Maison d'hote </strong>populaire</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="destination-slider owl-carousel ftco-animate">
                        {% for maison in maisons %}
                            <div class="item">
                                <div class="destination">

                                    {% for f in maison.maisonhotesimages %}
                                    {% if loop.index == 1 %}
                                    <a href="{{ path('maisonshotes_show_front', {'id': maison.id}) }}"
                                       class="img img-2 d-flex justify-content-center align-items-center"
                                       style="background-image: url({{ vich_uploader_asset(f, 'imageFile') }});">
                                        {% endif %}
                                        {% endfor %}
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <h3><a href="#">{{ maison.libelle }}</a></h3>
                                        <span class="listing">{{ maison.nbrChambres }} chambres</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-12 heading-section ftco-animate">
                <h2 class="mb-4 pb-3"><strong>Pourquoi</strong>  nous choisir?</h2>
                <p>Notre agence Trippy travel est une agence de voyage en ligne. Donc, inutile de vous déplacer, vous pouvez réserver votre hôtel en Tunisie où que vous soyez, du moment que vous avez une connexion internet.</p>
                <p>Les agents Trippy travel expérimentés étaient déjà là de nombreuses années, et sont encore là pour conseiller et aider les vacanciers à organiser leur voyage. Nous sélectionnons les meilleurs établissements hôteliers de la Tunisie pour vous offrir es meilleurs séjours dans ce pays de rêve. Vous pouvez en choisir un, en seulement quelques clics, selon la disponibilité de chacun d’eux et vos exigences. Après, il ne vous reste plus qu’à remplir le questionnaire sur notre site, tout en choisissant le mode de paiement selon votre convenance. Pour faciliter le plus possible la vie des voyageurs,
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

    <section class="ftco-section ftco-destination">
        <div class="container">
            <div class="row justify-content-start mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">Articles</span>
                    <h2 class="mb-4"><strong>Articles </strong>recents</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="destination-slider owl-carousel ftco-animate">
                        {% for article in articles %}
                            <div class="item">
                                <div class="destination">


                                    {% for image in article.images %}
                                        <a href="{{ path('article_show_client',{id: article.id}) }}" class="block-20" style="background-image: url('{{ asset('/uploads/'~image.name) }}');">
                                    {% endfor %}
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3">
                                        <h3><a href="#">{{ article.title }}</a></h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}